.jumbotron {
    background-color: rgb(22, 22, 22);
    color: #d4af37;
    padding: 20px 20px 0px 20px;
    margin-bottom: 0px;
}

li {
    font-size: 20px;
}

.men {
    padding: 5px 8px;
    color: #d4af37;
    font-family: firstFont;
}

a {
    color: #d4af37;

}

.men:hover {
    color: #d4af37;

}

.main-content {
    border: 1px solid #d4af37;
    color: #d4af37;
    background-color: black;
    height: 1000px;
}

.textArea {
    font-size: 40px;
}

.image-resize {
    height: 650px;
}

.carousel-caption {
    bottom: 350px;
}

h5 {
    font-size: 50px;
}

.menu-btn {
    border: 1px solid #d4af37;
    color: #d4af37;
    padding: 10px 20px;
    position: relative;
    top: 20px;
    background-color: #d4af37;
    color: #000000;
}

.my-wrapper {
    padding: 30px;
}

.aboutus {
    border: 1px solid#000000;

}

.text-warning {
    color: #d4af37;
    background-color: #000000;
}

.card-header {
    background-color: #d4af37;
    border: 1px solid #d4af37;
    font-size: 25px;
}

.list-group-item {
    font-size: 18px;
    background-color: #000000;
    border-bottom: 1px solid #d4af37
}

.hours {
    background-color: #000000;
    border-bottom: 1px solid #d4af37;
}

.logo-div {
    width: 350px;
    height: 107px;
    position: relative;
    left: 75px;

}

.logo {
    width: 100%;
    height: 100%;
}

.head-wrapper {
    padding: 30px;
}

.head-nav {
    position: relative;
    top: 30px;
    right: 75px;
}

#pattern {
    background-image: url("../images/background.pattern.png");
}

@font-face {
    font-family: firstFont;
    src: url("../images/TwCenClassMTStd-Regular.otf");
}

.item-img {
    border: 1px solid #d4af37;
    height: 100px;
    width: 100px;
    position: relative;
    top: 25px;
}

.item-name {
    position: relative;
    bottom: 50;
    font-size: 22px;
    bottom: 50px;
    left: 120px;
}

.item-price {
    position: relative;
    top: 80px;
    text-align: right;
    word-spacing: 75px;
    font-weight: bold;
}

.item-qty {
    text-align: right;
    position: relative;
    top: 74px;
    word-spacing: 80px;
    right: 10px;
}

.menu-container {
    border: 3px solid #d4af37;
    position: relative;
    top: 100px;
    background-color: #d4af37
}

.menu-row {
    background-color: #000000;
    border-bottom: 1px solid #d4af37;
    color: #d4af37;

}

.card-title {
   text-align: center;
   font-size: 30px;
}

.card-body {
    background-color: #000000;
    color: #d4af37;
}

.men-icon {
    max-width: 300px;
    margin: 5px;
    border: 3px solid #d4af37;
    overflow: hidden;
}

.menu-cards {
    position: relative;
    top: 20px;
}

.menu-header {
    text-align: center;
    font-weight: bold;
    color: #000000;
}

.icon-container {
    max-width: 1300px;
}

.men-icon:hover {
    cursor: pointer;
    max-width: 350px;
    max-height: 390px;
}

.coming-soon {
    border: 7px solid #d4af37;
    border-radius: 20px;
    position: relative;
    top: 100px;
    color: #d4af37;
    text-align: center;
    background-color: #000000;
    padding: 50px;
}

.sativa {
    margin-top: 50px;
}

.hybrid {
    margin-top: 90px;
}

.indica {
    margin-top: 50px;
}

#edibles-icon {
    position: relative;
    left: 210px;
    top: 50px;
}

#tinctures-icon {
    position: relative;
    top: 50px;
}

.deals {
    color: #d4af37;
    background-color: #000000;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    margin: 15px auto;
    border: 3px solid #d4af37;
    border-radius: 10px;
}

.deal-btn {
    position: relative;
    bottom: 10px;
}

.deals-container {
    padding: 25px;
}

.hours-card {
    border: 3px solid #d4af37;
    
}

.instructions {
    font-size: 25px;
}

.home-c {
    color: #000000;
    font-style: firstFont;
}